* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .parent {
    width: 100%;
    display: flex;
  }
  
  .container1 {
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    border: 2px solid grey;
  }
  
  .container2 {
    width: 80%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
  }
  
  .music-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  
  .music-child {
    display: flex;
    padding: 10px;
  }
  
  .music-child:hover {
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  }
  
  .music-child img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .music-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .music-details h5 {
    margin-bottom: 5px;
  }
  
  .music-details p {
    margin-top: 5px;
  }
  
  .mid-part {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
  }
  
  .mid-part img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
  
  .music-player {
    text-align: center;
    padding: 20px;
  }
  
  .rj {
    margin: auto;
  }
  
  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;
  }
  
  .btn1 {
    padding: 7px;
    border-radius: 7px;
    background-color: white;
  }
  
  .topNav h2 {
    margin: 0;
  }