.nav1{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav1:hover{
    color: gold;
    text-decoration: none;
    font-weight: bold;
}
.nav_parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 15px;
}
.nav_container{
    position: sticky;
    width: 100%;
}