#RPContainer{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 15px;
}
#RPchild{
    border: 2px solid black;
    border-radius: 5px;
}
#RPchild img{
    height: 200px;
    width: 100%;
}