#form{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 650px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  color: purple;
  border-radius: 15px;
}
#form input[type="number"]{
   padding: 5px;
   margin: 5px;
   width: 98%;
   border-top:none ;
   border-left: none;
   border-right: none;
}
#form input[type="date"]{
  padding: 5px;
  margin: 5px;
  width: 98%;
  border-top:none ;
  border-left: none;
  border-right: none;
}
#form select{
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-top:none ;
  border-left: none;
  border-right: none;
}
button{
background-color:purple ;
color: white;
padding: 10px;
border-radius: 10px;
border: none;
margin: 5px;
width: 100%;
}
#select{
   margin-left: 45%;
   margin-top: 20px;
   padding: 7px;
   width: 150px;
   border-radius: 10px;
}