.parent{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.child{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    text-align: center;
}

.child img{
    height: 250px;

}